.card-list {
    margin: 0 auto;
    max-width: 144rem;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6rem;
        padding: 1rem;
        list-style: none;

        @media screen and (max-width: 768px) {
            gap: 1rem;
        }
    }
}
