.carousel-container {
    display: flex;
    gap: 3rem;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    padding: 2rem 0;

    &::-webkit-scrollbar {
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .carousel-row {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        justify-content: space-between;
        user-select: none;
        cursor: grab;
        padding: 0 1rem;

        &.active {
            cursor: grabbing;
        }

        .card {
            @media screen and (max-width: 768px) {
                width: 30rem;
            }
        }
    }
}