.card-spot-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    position: absolute;
    z-index: 999;
    left: 2rem;

    .card-spot-list {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 79vh;
        overflow: scroll;

        .card-spot {
            background-color: #fff;
            border-radius: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 1rem;
            min-height: 12rem;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;

            max-width: 37.3rem;
            border-left: solid 1rem #0078d0;

            .content {
                padding: 0.5rem 1rem;
                display: flex;
                flex-direction: column;
                align-content: center;
                height: 100%;

                .title {
                    color: #000;
                    font-family: 'Olympic Headline';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .description {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    font-size: 16px;
                    flex-shrink: 0;
                }
            }
        }
    }
}
